@tailwind base;
@tailwind components;
@tailwind utilities;


input,
textarea {
  font-size: 16px;
}

.loader {
    width: 3.25em;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
  }

  .zindex{
    z-index: 99999;
    background-color: rgba(0, 0, 0, 0.37);
    
  }
  
  .loader circle {
    fill: none;
    stroke: #8C7CFD;
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
  }
  
  @keyframes rotate4 {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes dash4 {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
  
    50% {
      stroke-dasharray: 90, 200;
      stroke-dashoffset: -35px;
    }
  
    100% {
      stroke-dashoffset: -125px;
    }
  }
  
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #41b209;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background:#4a3da5;
  }

  .dark{
    background-color: black;
  }

  @keyframes pulse {
    50% {
        opacity: .5;
    }
}
.animatepulse {
    animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}